*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.slideshow{
    width: 100%;
    position: relative;
}

.slider li, ul{
    width: 100%;
}

.slider li {
    overflow: hidden;
}

.slider li, img{
    width: 100%;
}

.slider .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    flex-direction: column;    
    padding: 1.5rem 5rem;

}

.pagination{
    position: absolute;
    top: 102%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.pagination li {
    font-size: 1.3rem;
    margin: .2rem .5rem;
    color: #858585;
    list-style: none;
    cursor: pointer;
}

.left, .right {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 2;
    cursor: pointer;
    
}

.left{
    left: 1rem;
    width: 5rem;
    font-size: 3.5rem;
}

.right{
    right: 1rem;
    width: 5rem;
    font-size: 3.5rem;
}

@media screen and (max-width: 600px){
    .slider .caption p{
       display: none;
    }

    .slider .caption h1{
        font-size: 3rem;
    }

    .left, .right{
        font-size: 2.5rem;
    }
    .slider li img {
        width: 40rem; 
    }

    .pagination{
        display: none;
    }
}